

.posts-container {
  display: flex;
  flex-wrap: wrap;

  margin-top: 30px;
}

.post {
  background-color: #fff;
  /* border: 1px solid #e0e0e0; */
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  margin: 20px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out;
  width: calc(30% - 40px);
}

.post:hover {
  transform: translateY(-5px);
}

/* .post header {
  background-color: #f5f5f5;
  padding: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
} */

.post header img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover;
  margin-right: 20px;
}

.post header .user_info {
  flex: 1;
}

.post header .user_info h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.post header .time {
  font-size: 0.9rem;
  color: #666;
}

.post main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post main h1 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 10px; /* Add margin between h1 and p */
  color: #333;
}

.post main div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post main p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px; /* Add margin between p and img */
  color: #666;
  margin-left: 3%;
  margin-right: 3%;
}

.post main img {
  max-width: 20%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 10px; /* Add spacing between img and p */
}

.post main .actions {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 7%;
}

.post main .actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #666;
  transition: color 0.3s ease-in-out;
  margin-top: 90%;

  
}

.post main .actions button:hover {
  color: #3b5998;
}

.post main .interactions {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.post main .interactions span {
  font-size: 0.9rem;
  color: #666;
  margin-right: 1rem;
}

.post main .interactions svg {
  height: 1.2rem;
  width: 1.2rem;
  fill: #666;
  margin-right: 0.5rem;
  transition: fill 0.3s ease-in-out;
}

.post main .interactions svg:hover {
  fill: #3b5998;
}

@media (min-width: 768px) {
  .post {
    width: calc(80% - 5px);
  }
}

.write-button {
  margin-left: 90%;
}

.write-button button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #079c54;
  transition: color 0.3s ease-in-out;
}

.write-button button:hover {
  color: #000000;
}

/* Add the following styles to create a modal-like appearance for the form */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal input,
.modal textarea,
.modal button {
  width: 100%;
  margin-bottom: 10px;
}

.modal button {
  background-color: #1aaf6c;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.modal button.cancel {
  background-color: #000000;
}

