body {
  margin: 0;
  background-color: #ffffff;
}

/*Navbar*/
.navbar {
  background-color: transparent;
  padding: 5px; 
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.5%;
  margin-top: 0.5%;

}

.navbar h2 {
  margin: 0;
  font-size: 19px;
  color: #000000;
  margin-right: 40px;
  font-family: 'Times New Roman', Times, serif;

}

.navbar h2:hover {
  text-decoration: underline;
}
.navbar img {
  width :201%
}

.Home {
  position: relative;
}

@keyframes imageAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.Home img {
  width: 70%;
  height: 600px;
  margin-left: 15%;
  margin-top: 1%;
  animation: imageAnimation 3s infinite alternate; /* Adjust the duration and animation type as needed */
}


/* Home.css */

.home-content {
  position: absolute;
  top: 80%;
  /* Adjust this value to control the vertical position */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 8%;
}

.home-content h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.home-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  margin-top: 4%;
  color: #000000;
}

.home-content button {
  background-color: #1aaf6c;
  color: #000000;
  padding: 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 40%;
}

.home-content button:hover {
  background-color: #b6f0b6;
}




/* About.css */
.about {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.about img {
  width: 40%;
  height: auto;
  margin-left: 5%;
  margin-bottom: 15%;
  margin-top: 16%;

}

.about .ab2 img {
  width: 80%;
  height: auto;
  margin-top: 68%;
}

.navbar .logo {
  width: 135px; 
  height: 30px;
  margin-left: auto; 
}
.chat-container {
  position: relative;
  background-color: rgb(1, 54, 36);
}

.chat-header p {
  margin-top: 5%;
  color: #000000;
  margin-bottom: 3%;
}

.login-div {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.login-div {
  display: flex;
  align-items: center;
  margin-right: auto; 
}

.login-img {
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.Login {
  cursor: pointer; 
}