body{
    margin: 0;
 background-color: #ffffff;
}

/*Navbar*/
.navbar {
  background-color:transparent; /* Deep gray background */
  /* padding: 5px; */
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  margin-top: 1%;
  margin-bottom: 1%;

}

.navbar h2 {
  margin: 0;
  font-size: 19px; 
  color: #000000; 
  margin-left: 50px;
}

.navbar h2{
  margin-right:1%; 
}


.navbar h2:hover {

  text-decoration: underline;
}

.Home {
  position: relative;
}

.Home img {
  width: 70%;
  height: 900px;
  margin-left: 13%;
  margin-top: 0%;
}

/* Home.css */

.home-content {
  position: absolute;
  top: 80%; /* Adjust this value to control the vertical position */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 8%;
}

.home-content h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.home-content p {
  font-size: 1.3rem;
  margin-bottom: 30px;
  margin-top: 4%;
  color: #000000;
}

.home-content button {
  background-color: #1aaf6c;
  color: #000000;
  padding: 20px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 50%;
}

.home-content button:hover {
  background-color: #b6f0b6;
}




/* About.css */
.about {
  display: flex;
  justify-content: space-between;
}

.about img {
  width: 40%;
  height: auto;
  margin-left: 5%;
  margin-bottom: 15%;
  margin-top: 16%;

}

.about .ab2 img {
  width: 80%;
  height: auto;
  margin-top: 68%;
}

.navbar img {
  width:9%;
  height: 50px;
  margin-left: 50%;
}

.chat-container{
  position: relative;
  background-color: rgb(1, 54, 36);
}
.chat-header p {
  margin-top: 5%;
  color: #000000;
  margin-bottom: 3%;
}