/* CommunityHighlight.css */

.community-highlight {
    display: inline-block;
    flex-direction: column; /* Updated to column layout */
    width: 260px; /* Adjust the width as needed */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 9%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 2.5%;
    height:490px;
  }
  
  .community-highlight img {
    width: 100%;
    height: 250px; 
    object-fit: cover;
  }
  
  .highlight-content {
    padding: 20px;
  }
  
  .highlight-content h3 {
    font-size: 1.3rem;
    margin-bottom: 28px;
    font-family: 'Times New Roman', Times, serif;
  }
    
  @keyframes moveText {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .community-highlights h2 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    animation: moveText 2s infinite; 
    color: rgb(0, 0, 0);
  }
  
  .highlight-content p {
    font-size: 1rem;
    color: #555;
  }
  .community-highlights hr {
    width: 70%;
    margin-bottom: 3%;
  }
  
  
  